#language_helper_text
  %table.table.table-bordered
    %tbody
      %tr.betacode
        %td a
        %td b
        %td g
        %td d
        %td e
        %td z
        %td.warning h
        %td.warning q
        %td i
        %td k
        %td l
        %td m
        %td n
        %td.warning c
        %td o
        %td p
        %td r
        %td s
        %td t
        %td u
        %td.warning f
        %td.warning x
        %td.warning y
        %td.warning w
      %tr
        %td.greek α
        %td.greek β
        %td.greek γ
        %td.greek δ
        %td.greek ε
        %td.greek ζ
        %td.greek.warning η
        %td.greek.warning θ
        %td.greek ι
        %td.greek κ
        %td.greek λ
        %td.greek μ
        %td.greek ν
        %td.greek.warning ξ
        %td.greek ο
        %td.greek π
        %td.greek ρ
        %td.greek σ
        %td.greek τ
        %td.greek υ
        %td.greek.warning φ
        %td.greek.warning χ
        %td.greek.warning ψ
        %td.greek.warning ω
  %p
    To add a diacritic to a Greek letter, simply type one of these punctuation marks
    %em after
    the letter.
  %table.table.table-bordered
    %tbody
      %tr.betacode
        %td /
        %td \
        %td =
        %td )
        %td (
        %td |
        %td +
      %tr
        %td.greek ά
        %td.greek ὰ
        %td.greek ᾶ
        %td.greek ἀ
        %td.greek ἁ
        %td.greek ᾳ
        %td.greek ϊ
%a(href="http://www.typegreek.com/alphabet.key/") more help