@import url(http://fonts.googleapis.com/css?family=Roboto|Open+Sans|Ubuntu&subset=latin,greek-ext,greek);

.gr {
  font-family: 'Open Sans';
}
.gr1 {
  font-family: 'Ubuntu', sans-serif;
}
.gr2 {
  font-family: 'Roboto', sans-serif;
}